.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-nav {
}

.App-inner {
  margin: auto;
  display: flex;
  width: 800px;
}

.App-column-left {
  flex: 2;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-column-right {
  flex: 1;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me {
  width: 300px;
}
